.info{
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    padding: 0px 5px;
}

a.doughnut:hover, a.owner:hover, a.profileLink:hover, a.logoutLink:hover {
    color: black;
}

.doughnut{
    padding: 60px 40px;
    color: white;
    text-decoration: none;
}

.owner{
    padding: 20px;
    color: white;
    text-decoration: none;
}

.tab {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%); 
    font-family: Arial, Helvetica, sans-serif;
    /* clear: right; */
}

.logo{
    width: 100px;
    height: 100px;
}


.title{
    padding-left: 12rem;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
}

.admin{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    flex-direction: column;
    color: white;
}

.profileLink, .logoutLink{
    background-color: rgb(231, 122, 20);
    padding: 1.5rem;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.logoutLink{
    padding: 1.5rem 5rem;
}

.helloUser{
    font-size: 1.5rem;
    color: rgb(67, 22, 189);
}

.doughnuts_pic{
    width: 120px;
    height: 100px;
    border: 2px ridge black; 
    border-radius: 8px;
}

.doughnut_name{
    font-family:Arial, Helvetica, sans-serif;
    padding: 3rem 1rem;
    text-align: left;
    font-size: 1.5rem;
}

.doughnut_desc{
    font-size: 1rem;
}

.doughnut_list{
    text-align: center;
    font-family: cursive;
    font-size: 1.5rem;
    padding: 10px 0;
    background-color: #fad0c4;
    background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);    
}

table{
    padding: 2rem 0;
    margin-left: auto;
    margin-right: auto;
}
