{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="tabcontent">
    <div class="AboutUsTitle"><p>About Us</p></div>
    <div class="AboutUs"><p>Our Co-creators Mason Olchoway and Tahzib Yafi really enjoyed doughnuts. No matter the form or the style of doughnut, we like them all.
        We created this doughnut delivery service so more people could enjoy our hand made doughnuts. We have been making doughnuts for at least 1 hour at this point.
        We can't wait for you to make us rich!</p>
    </div>
</div>


{% endblock %}