{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="doughnut_list">
    <p class="current_doughnuts">Current Doughnuts Available</p>

    <table>
        <tr>
            <td><img class="doughnuts_pic" src="{% static 'images/glaze.png' %}" alt="Glazed Doughnut"> </td>
            <td class="doughnut_name">Classic Glazed Doughnut<p class="doughnut_desc">A classic glazed yeasted doughnut</p></td>

            <td><img class="doughnuts_pic" src="{% static 'images/white_sprinkle.png' %}" alt="White Sprinkled Doughnut"> </td>
            <td class="doughnut_name">White Chocolate Doughnut<p class="doughnut_desc">Premium white chocolate glaze with rainbow sprinkels on top</p></td>
        </tr>

        <tr>
            <td><img class="doughnuts_pic" src="{% static 'images/caramel.png' %}" alt="Caramel Doughnut"> </td>
            <td class="doughnut_name">Caramel Doughnut<p class="doughnut_desc">Caramel glazed doughnut with caramel chocolate shavings</p></td>

            <td><img class="doughnuts_pic" src="{% static 'images/chcoc_sidesprinkle.png' %}" alt="Dark Chocolate Sprinkled Doughnut"> </td>
            <td class="doughnut_name">Dark Chocolate Doughnut<p class="doughnut_desc">Dark chocolate glazed doughnut with sprinkles on the side</p></td>
        </tr>

        <tr>
            <td><img class="doughnuts_pic" src="{% static 'images/choc_allsprinkle.png' %}" alt="Milk Chocolate Sprinkled Doughnut"> </td>
            <td class="doughnut_name">Milk Chocolate Sprinkle Doughnut<p class="doughnut_desc">Classic milk chocolate sprinkle doughnut</p></td>

            <td><img class="doughnuts_pic" src="{% static 'images/jelly_filled.png' %}" alt="Raspberry Doughnut"> </td>
            <td class="doughnut_name">Rasberry filled Doughnut<p class="doughnut_desc">Raspberry jam filled doughnut with powdered sugar dusted on top</p></td>
        </tr>

        <tr>
            <td><img class="doughnuts_pic" src="{% static 'images/strawberry_whitechoc.png' %}" alt="Strawberry Doughnut"> </td>
            <td class="doughnut_name">Strawberry White Chocolate Doughnut<p class="doughnut_desc">Strawberry glazed doughnut with white chocolate shavings on top</p></td>
        </tr>
    </table>
</div>

{% endblock %}