

{% extends 'main.html' %}


{% block content %}

<div>
    <h3>Current Doughnuts Available</h3>

    <table>
        <tr>
            <th>Doughnut</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
        <tr>
            <td>Classic Glazed Doughnut</td>
            <td>A classic glazed yeasted doughnut</td>
            <td><img class="doughnuts_pic" src="images/glaze.png" alt="Glazed Doughnut"> </td>
        </tr>
        <tr>
            <td>White Chocolate Doughnut</td>
            <td>Premium white chocolate glaze with rainbow sprinkels on top </td>
            <td><img class="doughnuts_pic" src="images/white_sprinkle.png" alt="White Sprinkled Doughnut"> </td>
        </tr>
        <tr>
            <td>Caramel Doughnut</td>
            <td>Caramel glazes doughnut with caramel chocolate shavings </td>
            <td><img class="doughnuts_pic" src="images/caramel.png" alt="White Sprinkled Doughnut"> </td>
        </tr>
        <tr>
            <td>Dark Chocolate Doughnut</td>
            <td>Dark chocolate glazed doughnut with sprinkles on the side </td>
            <td><img class="doughnuts_pic" src="images/chcoc_sidesprinkle.png" alt="White Sprinkled Doughnut"> </td>
        </tr>
        <tr>
            <td>Milk Chocolate Sprinkle Doughnut</td>
            <td>Classic milk chocolate sprinkle doughnut </td>
            <td><img class="doughnuts_pic" src="images/choc_allsprinkle.png" alt="White Sprinkled Doughnut"> </td>
        </tr>
        <tr>
            <td>Rasberry filled Doughnut</td>
            <td>Raspberry jam filled doughnut with powdered sugar dusted on top </td>
            <td><img class="doughnuts_pic" src="images/jelly_filled.png" alt="White Sprinkled Doughnut"> </td>
        </tr>
        <tr>
            <td>Strawberry White Chocolate Doughnut</td>
            <td>Strawberry glazed doughnut with white chocolate shavings on top</td>
            <td><img class="doughnuts_pic" src="images/strawberry_whitechoc.png" alt="White Sprinkled Doughnut"> </td>
        </tr>
      </table>
</div>

{% endblock %}