{% extends 'main.html' %}


{% block content %}

<div class="login">
{% if page == 'login'  %}

    <form method="POST" action="">
        {% csrf_token %}

        <div class="login_info">
            <div class="login_username">
                <label>Username:</label>
                <input type="text", name="username" placeholder="Username"/>
            </div>
            <div class="login_password">    
                <label>Password:</label>
                <input type="password", name="password" placeholder>
            </div>
            <input class="login_button" type="submit" value="Login" />
        </div>

    </form>

    <div class="signup_query">
        <p>Haven't signed up yet?</p>
        <a class="signup" href="{% url 'register' %}">Sign up here!</a>
    </div>


{% else %}

<div class="register_info">
    <form method="POST" action="">
        {% csrf_token %}

        <!-- {{ form.first_name }}
        {{ form.last_name }}
        {{ form.email }}
        {{ form.username }}
        {{ form.password1 }}
        {{ form.password2 }} -->
        {{ form.as_p }}
    <input class="register" type="submit" value="Register"/>
    </form>
</div>   

<div class="signup_query">
        <p>Already signed up?</p>
        <a class="login_button" href="{% url 'login' %}">Log in</a>
</div>
</div>




{% endif %}


{% endblock %}